body{
    font-size: 16px;
    margin: 0px auto;

    max-width: 1078px;
    min-width: 1078px;
}
#paint{
    float: right;
}
header nav{
    margin-left: 220px;
}
header nav ul li{
    display: inline-block;
    color: lightgray;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 4px;
    border-bottom: 2px solid lightgray;
    /*text-decoration: underline;*/
    
}
#bgoffer{
    left: -35px;
    position: relative;
    top: -406px;
}
#granthams{
    margin-top: 25px;
    margin-left: 25px;
}
header input{
    float: right;
    margin-top: 15px;
    margin-right: -200px;
}
#primerSeccion article{
    vertical-align: top;
    display: inline-block;
}
#primerSeccion{
    height: 318px   ;
    margin-top: 60px;
}
#seccion01art01{
    margin-left: 30px;
    width:60%    ;
}
#seccion01art02{
    margin-left: 50px;
    width: 30%;
}
#seccion01art02 ul{
    list-style: none;
    margin-left: -40px;
}
#seccion01art02 ul li:before{
    content: "•  ";
    color: #FF0099;

}
.colorrosa{
    color: #FF0099;
}
.colorazul{
    color: #4267B3;
}
.colorverde{
    color: #8bc500;
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}
#segundaSeccion{
    margin-top: 15px;
}
#segundaSeccion article{
   margin-right: 165px;
    text-align: right;

}
#terceraSeccion article{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
#terceraSeccion article img{
    vertical-align: middle;
}
#terceraSeccion{
    
}
#seccion03art04{
    border: 1px red solid;
}
